body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.arrow{
    height: 50px;
    width: 50px;
    position:fixed;
    right:0;
    bottom:75px;
    margin:0;
    padding:0;
}
.arrow img{
    width: 100%;
}
/* header area start */
.header-area{
    background-image: url("images/header-bg.png") ;
    max-width: 100%  ;
    min-height: 750px ;
    background-position:  center  ;
    background-repeat: no-repeat ;
    background-size: contain ;
    margin: auto;
}

.hire-button{
    text-decoration: none;
    background-color: #ec4c78;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}
.hire-button:hover{
    background-color: #FFB02A;
}
/* header area end */

/* biography area start */
.biography-area{
    background-image: url("images/biography-bg.png");
    width: 100%;
    min-height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cv-button{
    text-decoration: none;
    background-color: #ec4c78;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}
.cv-button:hover{
    background-color: #62ded2;}
/* biography area end */

/* latest work area start */
.latest-work-area{
    background-image: url("images/latest-work-bg.png");
    width: 100%;
    min-height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.card img{
    width: 100%;
    height: 300px;
    padding: 15px;
}
.card:hover{
    background-color: #F8F9FC;
}
.card{
    border: none;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
/* latest work area end */

.experience-area
{
    margin: auto;
    width: 100%;
    background-image: url("images/exp-bg.png");
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: left;
}
.half-experience {
    font-size: 20px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5px;
    padding: 15px;
    height: 250px;
    background-color: white;
}
#experience-border-1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato );
    border-image-slice: 1;
}
#experience-border-2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan );
    border-image-slice: 1;
}
.half-experience h3{
    color: #FFB527;
    font-size: 20px;
}
.half-experience p{
    font-size: 17px;
    color: rgb(94, 93, 93);
}



/* Footer area start */
.footer-area{
    background-image: url("images/footer-bg.png");
    width: 100%;
    min-height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.email-button{
    margin: auto;
    margin-top: 90px;
    height: 150px;
    width: 600px;
    background-color: #ec4c78;
    border-radius: 5px;
}
.email-button a{
    text-decoration: none;
    color: white;
}
.email-button:hover{
    background-color: #62ded2;
}
.footer-area-end{
    color: #727272; 
    text-align: center;
}
/* Footer area end */